
  /* normalize CSS */
  a {
    background-color: transparent;
    cursor: pointer;
  }

  a:active,
  a:hover {
    outline: 0;
  }

  img {
    border: 0;
    /*-webkit-filter: blur(0);*/
  }


  html,
  html a {
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    border: none;
  }

  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  :focus {
    outline: none;
  }

  ::-moz-focus-inner {
    border: 0;
  }
