---
layout: "base.njk"
---
<style>
iframe {
  width: 100%;
}
</style>

{% set navPages = collections.all | eleventyNavigation %}


<ul class="flex flex-col justift-center items-center text-center text-2xl">

  {%- for entry in navPages %}
    {# setting url var, + removing the first '/' in entry.url with replace filter below  #}
    {% set url =  entry.url | url | replace(r/\//, '') %} 

    <li class="mb-24 pt-8" >
      <a href="{{ url }}">{{ entry.key }}</a>
      <iframe src="{{ url }}" height="{{ entry.height }}" id="{{entry.key}}"></iframe>
      <button id="{{entry.key}}" class="p-4 bg-blue-500">Reload</button>
    </li>
  {%- endfor %}

</ul>

<script>
{{navPages | dump | safe }}.forEach(function(banner) {
  const reload = document.querySelector(`button#${banner.key}`);
  reload.addEventListener("click", function() {
    document.querySelector(`iframe#${banner.key}`).contentWindow.location.reload();
    reload.classList.toggle("bg-blue-900");
    reload.classList.toggle("bg-blue-500");
    setTimeout(function () {
        reload.classList.toggle("bg-blue-500");
        reload.classList.toggle("bg-blue-900");
    }, 400);
  });
})
</script>